.RadioGroup-e37b {
    --RadioGroup-size--default: 1em;
}

.item-bf74,
.radio-1370,
.label-b0ad {
    cursor: pointer;
}

.radio-1370 {
    width: var(--RadioGroup-size, var(--RadioGroup-size--default));
    height: var(--RadioGroup-size, var(--RadioGroup-size--default));
    flex-shrink: 0;
}
