.DS_Store
.tsbuildinfo
*.code-workspace
node_modules/
package-lock.json
pnpm-lock.yaml
tsconfig.tsbuildinfo

/.nx/
/@downforce/*/cjs/
/@downforce/*/esm/
/@downforce/**/*.cjs
/@downforce/**/*.d.cts
/@downforce/**/*.d.mts
/@downforce/**/*.d.ts
/@downforce/**/*.js
/@downforce/**/*.map
/@downforce/**/*.mjs
