.ButtonArmored-aa3e {
    position: relative;
}

.ButtonArmored-aa3e .armor {
    position: absolute;
}

.ButtonArmored-aa3e.initial .cancel,
.ButtonArmored-aa3e.initial .confirm,
.ButtonArmored-aa3e.armored .armor {
    opacity: 0;
    pointer-events: none;
}
